:root {
  --black: #141414;
  --green: #a1c487;
  --light-green: #eaf7e5;
  --orange: #fc8a11;
  --lite-orange: #faf3e7;
  --gray: #f3f3f3;
  --white: #fff;
  --logo-color: #77ac63;
  --tags-color: #f9f7f4;
}
