.how-works {
    padding-top: 80px;
    padding-bottom: 80px;
}



.how-works-title {
    margin-bottom: 20px;
    color: var(--black);
    font-family: DM Sans;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.how-works-pic {
    margin-bottom: 20px;
    width: 335px;
    height: 158px;
}

.wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-text-style {
    color: var(--black);
    font-family: DM Sans;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
    .how-works {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .wrapper-flex {
        display: flex;
        gap: 8px;
        margin-bottom: 40px;
    }

    .how-works-title {
        margin-bottom: 0;
width: 386px;
        font-size: 40px;
        line-height: 1.1;
    }

    .how-works-pic {
        margin-bottom: 0;
        width: 310px;
        height: 176px;
    }

    .wrapper-text {
        display: flex;
        flex-direction: row;
        gap: 20px;
        max-width: 616px;
    }

    .main-text-style {
        font-size: 18px;
        line-height: 1.33;

    }

    .main-text-style.one{
        width: 317px;
    }
        .main-text-style.two{
        width: 279px;
    }

}

@media screen and (min-width: 1280px) {

    .how-works {
        padding-top: 124px;
        padding-bottom: 124px;
    }

    .how-works-title {
        width: 614px;
        margin-right: 192px;
        font-size: 48px;
        line-height: 1.04;
    }

    .how-works-pic {
        width: 410px;
        height: 170px;
    }

    .wrapper-flex {
        gap: 0px;
    }

    .wrapper-text {
        gap: 40px;
        max-width: 687px;
    }
        .main-text-style.one{
        width: 353px;
    }
        .main-text-style.two{
        width: 294px;
    }

}