.section-vegetables {
  padding-top: 80px;
  padding-bottom: 80px;
}

.vegetables-container {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide {
  display: none;
}

.section-vegetables-title {
  color: var(--black);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.section-vegetables-text {
  color: var(--black);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 36px;
}

.vegetables-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vegetables-item {
  padding-right: 18px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 40px;
  border-radius: 20px;
  background-color: var(--light-green);
}

.vegetables-title {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}

.vegetables-text {
  color: var(--black);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
}

.vegetables-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 299px;
  max-height: 249px;
}

/* .vegetables-svg {
  fill: var(--black);
  flex-shrink: 0;
  filter: blur(13.591408729553223px);
} */

.vegetables-cost {
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-top: 22px;
}

.vegetables-button {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--orange);
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  transform: scale(1);
  transition: transform 250ms;
  transition: background-color 250ms linear;
}

.vegetables-button:focus {
  background-color: var(--green);
  transform: scale(0.75);
}

.vegetables-button-rotate {
  display: flex;
  width: 65px;
  height: 28px;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;
}

.button-text {
  color: var(--white);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  align-items: center;
  transform: rotate(-14deg);
  transform-origin: top left;
}

@media screen and (min-width: 768px) {
  .section-vegetables {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .vegetables-container {
    max-width: 768px;
  }

  .section-vegetables-title {
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }
  .section-vegetables-text {
    max-width: 562px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .vegetables-list {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .vegetables-item {
    flex-basis: calc((100% - 20px) / 2);
    padding-right: 10px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-top: 64px;
  }

  .vegetables-title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }
  .vegetables-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 7px;
  }

  .vegetables-image-container {
    max-width: 321px;
    max-height: 261px;
  }
  .vegetables-cost {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
    margin-top: 22px;
  }

  .vegetables-button {
    width: 114px;
    height: 114px;
    margin-top: 40px;
  }

  .vegetables-button-rotate {
    display: inline-flex;
    width: 79.11299px;
    height: 37.07665px;
  }

  .button-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
}

@media screen and (min-width: 1280px) {
  .section-vegetables {
    padding-top: 124px;
    padding-bottom: 124px;
  }

  .vegetables-container {
    max-width: 1280px;
  }

  .hide {
    display: block;
  }

  .section-vegetables-title {
    text-shadow: none;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }

  .section-vegetables-text {
    text-shadow: none;
  }

  .vegetables-list {
    gap: 24px;
  }

  .vegetables-item {
    flex-basis: calc((100% - (24px * 2)) / 3);
    padding-right: 34px;
  }

  .vegetables-title {
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -1.28px;
  }

  .vegetables-button {
    margin-top: 44px;
  }

  .vegetables-button:hover {
    background-color: var(--green);
  }
}
