.we-will-cal-you {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-heading {
  margin-left: auto;
  margin-right: auto;
  max-width: 321px;
  color: var(--black);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: var(--white);
}
.description {
  max-width: 321px;
  margin-left: auto;
  margin-right: auto;
  color: var(--black);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 40px;
}
.form-call-you {
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 40px;
}
.input-call-you {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 48px;
  border-radius: 100px;
  border: 1px solid var(--black);
  color: var(--black);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  background-color: transparent;
  padding: 15px 24px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}
.button-input-call-you {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  height: 48px;
  color: var(--white);
  font-size: 14px;
  line-height: 1.28px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  border-radius: 100px;
  background-color: var(--orange);
  transition: background-color 250ms;
}
.button-input-call-you:hover,
.button-input-call-you:focus {
  background-color: var(--green);
}
.div-call-you {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaf7e5;
  border-radius: 40px;
  padding-top: 31px;
  background-image: url('/img/we-will-call-you/BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -23px 5px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .div-call-you {
    background-image: url('/img/we-will-call-you/BG@2x.png');
  }
}
.img-we-will-cal-you {
  margin-left: auto;
  margin-right: auto;
}

/* ================ TABLET =============== */

@media screen and (min-width: 768px) {
  .we-will-cal-you {
    padding-top: 100px;
    padding-bottom: 173px;
  }
  .section-heading {
    max-width: 524px;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }
  .description {
    max-width: 499px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
  .form-call-you {
    margin-bottom: 80px;
  }
  .button-input-call-you {
    padding: 15px 35px;
  }
  .div-call-you {
    border-radius: 80px;
    padding-top: 17px;
    padding-left: 38px;
    padding-right: 38px;
    max-width: 704px;
    background-position: -15px 9px;
    background-image: url('/img/we-will-call-you/BG-TAB.png');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .div-call-you {
      background-image: url('/img/we-will-call-you/BG-TAB@2x.png');
    }
  }
}

/* ================ DESKTOP =================== */

@media screen and (min-width: 1280px) {
  .we-will-cal-you {
    padding-top: 124px;
    padding-bottom: 124px;
  }
  .div-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .div-we-will-cal-you {
    width: calc((100% - 77px) / 2);
  }
  .section-heading {
    margin-left: 0;
    text-align: left;
    max-width: 614px;
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
  }
  .description {
    margin-left: 0;
    text-align: left;
    max-width: 523px;
    margin-bottom: 80px;
  }
  .form-call-you {
    margin-left: 0;
    margin-bottom: 0;
  }
  .div-call-you {
    padding-top: 37px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: calc((100% - 77px) / 2);
    background-position: 4px 0;
    background-image: url('/img/we-will-call-you/BG-DESK.png');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .div-call-you {
      background-image: url('/img/we-will-call-you/BG-DESK@2x.png');
    }
  }
}
