.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  width: 335px;
  margin: 0 auto;
  background-color: #fff;
  margin: 0 auto;
  position: absolute;
  border-radius: 20px;
  padding: 20px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-height: 100vh;
}

.title-modal {
  color: var(--black);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1.12px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.modal-close-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 22px;
  right: 20px;
}
.modal-close-icon {
  stroke: var(--black);
}

.wrapper-checkbox-card {
  max-width: 295px;
  height: 120px;
  background-color: var(--lite-orange);
  border-radius: 20px;
  position: relative;
  padding: 20px 0 0 20px;
  background-repeat: no-repeat;
  background-position: 171px 33px;
}
.picture-checkbox-card {
  position: absolute;
  top: 33px;
  right: 30px;
}
.icon-illusion {
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--green);
  border-radius: 4px;
}
.icon-ckeckbox {
  fill: var(--green);
  opacity: 0;
}
.icon-illusion {
  position: absolute;
  top: 14px;
  right: 14px;
}
.cabbage_basket:checked + .wrapper-checkbox-card .icon-ckeckbox {
  opacity: 1;
}
.tomato_basket:checked + .wrapper-checkbox-card .icon-ckeckbox {
  opacity: 1;
}
.vegetables_basket:checked + .wrapper-checkbox-card .icon-ckeckbox {
  opacity: 1;
}
.title-checkbox-card {
  color: var(--black);
  font-family: DM Sans;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.72px;
}
.subtitle-checkbox-card {
  color: var(--black);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.wrapper-checkbox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.input-common {
  max-width: 100%;
  border: 1px solid rgba(20, 20, 20, 0.3);
  border-radius: 100px;
  height: 46px;
  padding: 14px 24px;
}
.input-common::placeholder {
  color: rgba(20, 20, 20, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.wrapper-input-text {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.textarea-form {
  width: 100%;
  height: 132px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  border-radius: 20px;
  padding: 14px 24px;
  margin-bottom: 20px;
  resize: none;
}
.textarea-form::placeholder {
  color: rgba(20, 20, 20, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.send-form-btn {
  padding: 12px 24px;
  background-color: var(--orange);
  border-radius: 100px;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  transition: background-color 0.25s linear;
}
.send-form-btn:hover,
.send-form-btn:focus {
  background-color: var(--green);
}
@media screen and (max-width: 374px) {
  .modal {
    width: 92%;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 40px;
  }
  .modal::after {
    content: '';
    position: absolute;
  }
  .title-modal {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.6px;
  }
  .wrapper-checkbox {
    flex-direction: row;
    gap: 12px;
  }

  .wrapper-checkbox-card {
    width: 200px;
    height: 250px;
    padding-top: 40px;
  }
  .picture-checkbox-card {
    top: 94px;
    right: 14px;
  }
  .input-common {
    max-width: 360px;
    height: 48px;
  }
  .textarea-form {
    width: 360px;
    height: 145px;
  }
  .send-form-btn {
    padding: 15px 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal::after {
    top: 440px;
    right: 0;
    background-image: url('/img/modal/tablet/girl.png');
    background-repeat: no-repeat;
    background-size: 290px 415px;
    height: 415px;
    width: 290px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal::after {
      background-image: url('/img/modal/tablet/girl@2x.png');
    }
  }
  @supports (background-image: url('/img/modal/tablet/girl.png')) {
    .modal::after {
      background-image: url('/img/modal/tablet/girl.webp');
    }
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .modal::after {
        background-image: url('/img/modal/tablet/girl@2x.webp');
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 891px;
  }
  .wrapper-checkbox {
    gap: 20px;
  }
  .wrapper-checkbox-card {
    width: 257px;
    height: 308px;
  }
  .picture-checkbox-card {
    top: 94px;
    right: 9px;
  }

  .modal::after {
    height: 413px;
    width: 444px;
    top: 505px;
    right: -30px;
    background-image: url('/img/modal/desctop/girlDesctop.png');
    background-repeat: no-repeat;
    background-size: 444px 413px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal::after {
      background-image: url('/img/modal/desctop/girlDesctop@2x.png');
    }
  }
  @supports (background-image: url('/img/modal/desctop/girlDesctop.png')) {
    .modal::after {
      background-image: url('/img/modal/desctop/girlDesctop.webp');
    }
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .modal::after {
        background-image: url('/img/modal/desctop/girlDesctop@2x.webp');
      }
    }
  }
}
