<footer class="footer-section">
  <div class="section">
    <div class="container">
      <div class="footer-wrapper">
        <div class="wrapper-logo-and-navigation">
          <div class="logo-and-photo">
            <div class="photo-footer"></div>
            <div class="logo-wrapper-footer">
              <svg class="logo-footer-svg" width="16" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
              </svg>
              <p class="logo-footer">veggieboost</p>
            </div>
          </div>
          <ul class="navigation-list-footer list">
            <li class="navigation-list-item-footer">
              <a class="navigation-footer-link" href="#how-its-works"
                >How It Works</a
              >
            </li>
            <li class="navigation-list-item-footer">
              <a class="navigation-footer-link" href="#vegetables"
                >Vegetables</a
              >
            </li>
            <li class="navigation-list-item-footer">
              <a class="navigation-footer-link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="wrapper-icons-and-adress-footer" id="contacts">
          <ul class="social-list list">
            <li class="social-item-footer">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="social-link-footer"
              >
                <svg class="social-icon" height="24" width="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item-footer">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                class="social-link-footer"
              >
                <svg class="social-icon" height="24" width="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item-footer">
              <a
                href="https://www.youtube.com/"
                target="_blank"
                class="social-link-footer"
              >
                <svg class="social-icon" height="24" width="24">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a href="tel:+380684439426" class="phone-wrapper"
            >+380 (68) 443-94-26</a
          >
          <adress class="adress-wrapper">
            1678 S. Pioneer Road Salt Lake City <br />
            UT 84104
          </adress>
        </div>
      </div>
    </div>
  </div>
</footer>
