<footer class="footer-section">
  <div class="section">
    <div class="container">
      <div class="footer-wrapper">
        <div class="wrapper-logo-and-navigation">
          <div class="logo-and-photo">
            <div class="photo-footer">
              <picture>
                <!-- Зображення для телефону  -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/footer/phone/vegetablesPhone@1x.webp 1x,
                    ./img/footer/phone/vegetablesPhone@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/footer/phone/vegetablesPhone@1x.png 1x,
                    ./img/footer/phone/vegetablesPhone@2x.png 2x
                  "
                  type="image/png"
                />

                <!-- Зображення для планшета та десктопу -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/footer/vegetables@1x.webp 1x,
                    ./img/footer/vegetables@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/footer/phone/vegetables@1x.png 1x,
                    ./img/footer/phone/vegetables@2x.png 2x
                  "
                  type="image/png"
                />

                <!-- Зображення за замовчуванням (якщо ніякий з source не підходить) -->
                <img
                  src="./img/footer/phone/vegetablesPhone@1x.webp"
                  alt="Броколі"
                />
              </picture>
            </div>
            <div class="logo-wrapper-footer">
              <svg class="logo-footer-svg" width="16" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
              </svg>
              <p class="logo-footer">veggieboost</p>
            </div>
          </div>
          <ul class="navigation-list-footer list">
            <li class="navigation-list-item-footer">
              <a class="navigation-footer-link" href="#how-it-work"
                >How It Works</a
              >
            </li>
            <li class="navigation-list-item-footer">
              <a class="navigation-footer-link" href="#vegetables"
                >Vegetables</a
              >
            </li>
            <li class="navigation-list-item-footer">
              <a class="navigation-footer-link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="wrapper-icons-and-adress-footer" id="contacts">
          <ul class="social-list list">
            <li class="social-item-footer">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="social-link-footer"
              >
                <svg class="social-icon" height="24" width="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item-footer">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                class="social-link-footer"
              >
                <svg class="social-icon" height="24" width="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item-footer">
              <a
                href="https://www.youtube.com/"
                target="_blank"
                class="social-link-footer"
              >
                <svg class="social-icon" height="24" width="24">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a href="tel:+380684439426" class="phone-wrapper"
            >+380 (68) 443-94-26</a
          >
          <adress class="adress-wrapper">
            1678 S. Pioneer Road Salt Lake City <br />
            UT 84104
          </adress>
        </div>
      </div>
    </div>
  </div>
</footer>
