<header class="page-header">
  <div class="page-header-container container">
    <nav class="page-header-navigation">
      <ul class="menu-list list">
        <li class="menu-item">
          <a class="menu-link" href="#">How It Works</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">Vegetables</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">Contacts</a>
        </li>
      </ul>

      <a href=".index.html" class="menu-logo">
        <svg class="menu-logo-icon" width="16" height="16">
          <use href="../img/icons.svg#icon-logo"></use></svg
        >Veggieboost</a
      >
    </nav>
    <button type="button" class="menu-order-btn button">
      <svg class="menu-oder-btn-icon" width="20" height="20">
        <use href="../img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>

    <button class="menu-burger-btn button" type="button">
      <svg class="menu-burger-btn-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-gg-menu"></use>
      </svg>
    </button>
  </div>
</header>
