<section class="hero">
  <div class="container hero-container">
    <ul class="reviews-list list">
      <li class="reviews-item">
        <picture>
          <source
            srcset="
              ./img/hero-img/hero-client-03@2x.webp 2x,
              ./img/hero-img/hero-client-03.webp    1x
            "
            type="image/webp"
          />
          <source
            srcset="./img/hero-img/hero-client-03@2x.png 2x"
            type="image/png"
          />
          <img
            class="reviews-img"
            src="./img/hero-img/hero-client-03.png"
            alt="client review"
          />
        </picture>
      </li>
      <li class="reviews-item">
        <picture>
          <source
            srcset="
              ./img/hero-img/hero-client-02@2x.webp 2x,
              ./img/hero-img/hero-client-02.webp    1x
            "
            type="image/webp"
          />
          <source
            srcset="./img/hero-img/hero-client-02@2x.png 2x"
            type="image/png"
          />
          <img
            class="reviews-img"
            src="./img/hero-img/hero-client-02.png"
            alt="client review"
          />
        </picture>
      </li>

      <li class="reviews-item">
        <picture>
          <source
            srcset="
              ./img/hero-img/hero-client-01@2x.webp 2x,
              ./img/hero-img/hero-client-01.webp    1x
            "
            type="image/webp"
          />
          <source
            srcset="./img/hero-img/hero-client-01@2x.png 2x"
            type="image/png"
          />
          <img
            class="reviews-img"
            src="./img/hero-img/hero-client-01.png"
            alt="client review"
          />
        </picture>
      </li>
      <li class="reviews-item">
        <div class="review-item-wrapper">
          <p class="review-text">
            <span class="rewiev-text-number">2K</span>reviews
          </p>
        </div>
      </li>
    </ul>
    <h1 class="hero-title">
      organic <span class="hero-title-italic">vegetables </span>to you diet
      today!
    </h1>
    <p class="hero-title-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
    <button
      class="hero-order-btn button"
      type="button"
      data-modal-open
      aria-label="make an order"
    >
      <span class="hero-order-btn-text">shop now</span>
    </button>
    <picture>
      <source
        srcset="
          ./img/hero-img/desktop-hero-img@2x.webp 2x,
          ./img/hero-img/desktop-hero-img.webp    1x
        "
        media="(min-width: 1280px)"
        type="image/webp"
        width="517"
      />
      <source
        srcset="./img/hero-img/desktop-hero-img@2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
        width="517"
      />
      <source
        srcset="
          ./img/hero-img/tablet-hero-img@2x.webp 2x,
          ./img/hero-img/tablet-hero-img.webp    1x
        "
        media="(min-width: 768px)"
        type="image/webp"
        width="488"
      />
      <source
        srcset="./img/hero-img/tablet-hero-img@2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
        width="488"
      />
      <source
        srcset="
          ./img/hero-img/mobile-hero-img@2x.webp 2x,
          ./img/hero-img/mobile-hero-img.webp    1x
        "
        media="(min-width: 320px)"
        type="image/webp"
        width="303"
      />
      <source
        srcset="./img/hero-img/mobile-hero-img@2x.png 2x"
        media="(min-width: 320px)"
        type="image/png"
        width="303"
      />
      <img
        class="hero-reviews-img"
        src="./img/hero-img/mobile-hero-img.png"
        alt="client review"
        width="303"
      />
    </picture>

    <ul class="hero-tags js-tags list">
      <li class="tags-item">
        <button
          class="tags-btn button active"
          type="button"
          aria-label="#organic"
        >
          #organic
        </button>
      </li>
      <li class="tags-item">
        <button
          class="tags-btn button active"
          type="button"
          aria-label="#products"
        >
          #products
        </button>
      </li>
      <li class="tags-item">
        <button
          class="tags-btn button active"
          type="button"
          aria-label="#basket"
        >
          #basket
        </button>
      </li>
      <li class="tags-item">
        <button
          class="tags-btn button active"
          type="button"
          aria-label="#vegetables"
        >
          #vegetables
        </button>
      </li>
    </ul>
  </div>
</section>
