<section class="how-works" id="how-its-work">
  <div class="container">
    <div class="wrapper-flex">
      <h2 class="how-works-title">
        To order your vegetable basket, simply follow these easy steps
      </h2>
      <img
        class="how-works-pic"
        srcset="
          ./img/How-its-work/mob@1x.jpg 335w,
          ./img/How-its-work/mob@2x.jpg 670w,
          ./img/How-its-work/tab@1x.jpg 310w,
          ./img/How-its-work/tab@2x.jpg 610w,
          ./img/How-its-work/desk@1x.jpg 410w,
          ./img/How-its-work/desk@2x.jpg 820w
        "
        sizes="(min-width: 1280px) 410px, (min-width: 768px) 310px, (min-width: 375px) 335px, 100vw"
        src="./img/How-its-work/mob@2x.jpg"
        alt="image of broccoli"
      />
    </div>
    <div class="wrapper-text">
      <p class="main-text-style one">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <p class="main-text-style two">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
  </div>
</section>
