<section class="advertisment container">
  <div class="bg bg-pointer advertisment-flex">
    <div>
      <h2 class="advertisment-title">
        3 Easy Steps for Buying Fresh Vegetables
      </h2>
      <ol class="advertisment-list">
        <li class="advertisment-items">
          Just choose the vegetable you want to order by clicking on the
          checkboxes next to it.
        </li>
        <li class="advertisment-items">
          Click on the basket and fill out the form.
        </li>
        <li class="advertisment-items">
          Sit back and relax! Your fresh vegetables basket will be delivered.
        </li>
      </ol>
    </div>
    <picture>
      <source
        type="image/webp"
        media="(min-width: 1280px)"
        srcset="
          ./img/materials/webp/girldesk@2x.webp 2x,
          ./img/materials/webp/girldesk@1x.webp 1x
        "
      />
      <source
        type="image/png"
        media="(min-width: 1280px)"
        srcset="
          ./img/materials/png/girldesk@2x.png 2x,
          ./img/materials/png/girldesk@1x.png 1x
        "
      />
      <source
        type="image/webp"
        media="(min-width: 768px)"
        srcset="
          ./img/materials/webp/girltab@2x.webp 2x,
          ./img/materials/webp/girltab@1x.webp 1x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ./img/materials/png/girltab@2x.png 2x,
          ./img/materials/png/girltab@1x.png 1x
        "
      />
      <source
        type="image/webp"
        media="(min-width: 375px)"
        srcset="
          ./img/materials/webp/girlmob@2x.webp 2x,
          ./img/materials/webp/girlmob@1x.webp 1x
        "
      />
      <source
        type="image/png"
        media="(min-width: 375px)"
        srcset="
          ./img/materials/png/girlmob@2x.png 2x,
          ./img/materials/png/girlmob@1x.png 1x
        "
      />
      <img
        class="advertisment-img"
        src="./img/materials/webp/girlmob@2x.webp"
        alt="girl with vegetables"
        width="258"
        height="319"
      />
    </picture>
  </div>
</section>
<section class="marquee">
  <h2 class="visually-hidden">Marquee</h2>
  <div class="marquee-orange">
    <div class="marquee__inner">
      <p class="advertisment-strip">
        Discount up to <span class="percent">40%!</span> Taste the vitamins and
        keep your health
      </p>
      <p class="advertisment-strip">
        Discount up to <span class="percent">40%!</span> Taste the vitamins and
        keep your health
      </p>
    </div>
  </div>
  <div class="marquee-green">
    <div class="marquee__inner">
      <p class="advertisment-strip">
        Discount up to 40%! Taste the <span class="vitamins">vitamins</span> and
        keep your health
      </p>
      <p class="advertisment-strip">
        Discount up to 40%! Taste the <span class="vitamins">vitamins</span> and
        keep your health
      </p>
    </div>
  </div>
</section>
