<div class="mobile-menu js-menu-container">
  <div class="mobile-menu-header container">
    <a></a>
    <button
      class="mobile-close-button js-close-menu"
      type="button"
      aria-label="mobile menu close"
    >
      <svg
        class="mobile-close-button-icon"
        width="24"
        height="24"
        aria-label="mobile menu close icon"
      >
        <use href="./img/icons.svg#icon-close-button"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu-navi">
    <nav>
      <ul class="list js-nav-ref">
        <li class="mobile-munu-item">
          <a class="mobile-menu-link" href="#how-it-work">How It Works</a>
        </li>
        <li class="mobile-munu-item">
          <a class="mobile-menu-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="mobile-munu-item">
          <a class="mobile-menu-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="button mobile-menu-oder-button js-nav-ref"
      data-modal-open
      aria-label="open order on mobile"
    >
      <svg
        class="mobile-menu-oder-button-icon"
        width="20"
        height="20"
        aria-label="mobile menu order icon"
      >
        <use href="./img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
  </div>
</div>
