<div class="mobile-menu container js-menu-container">
  <div class="mobile-menu-header container">
    <a></a>
    <button class="mobile-close-button js-close-menu" type="button">
      <svg
        class="mobile-close-button-icon"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 6L6 18"
          stroke="#77AC63"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M6 6L18 18"
          stroke="#77AC63"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <!--<svg class="mobile-icon-x" width="24" height="24">
        <use href="./images/icons.svg#icon-x"></use>
      </svg>-->
    </button>
  </div>
  <div class="mobile-menu-navi">
    <nav>
      <ul class="list">
        <li class="mobile-munu-item">
          <a
            class="mobile-menu-link"
            href="#"
            onclick="window.location.reload(); window.location.href = '#how-it-work';"
            >How It Works</a
          >
        </li>
        <li class="mobile-munu-item">
          <a
            class="mobile-menu-link"
            href="#vegetables"
            onclick="window.location.reload(); window.location.href = '#vegetables';"
            >Vegetables</a
          >
        </li>
        <li class="mobile-munu-item">
          <a
            class="mobile-menu-link"
            href="#contacts"
            onclick="window.location.reload(); window.location.href = '#contacts';"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
    <button type="button" class="button mobile-menu-oder-btn-icon">
      <svg class="" width="20" height="20">
        <use href="./img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
  </div>
</div>
