<section class="section-vegetables" id="vegetables">
    <div class="container vegetables-container">
        <h2 class="section-vegetables-title">ORGANIC VEGETABLES</h2>
        <p class="section-vegetables-text">
            Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.
        </p>
        <ul class="vegetables-list list">
            <li class="vegetables-item">
                <div class="vegetables-wrapper">
                    <h3 class="vegetables-title">Carrot</h3>
                    <p class="vegetables-text">Plant</p>
                    <div class="vegetables-image-container">
                        <picture>
                            <source srcset="./img/vegetables/dcarrot@2x.webp 2x, ./img/vegetables/dcarrot.webp 1x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./img/vegetables/dcarrot.png 1x, ./img/vegetables/dcarrot@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                            <source srcset="./img/vegetables/tcarrot@2x.webp 2x, ./img/vegetables/tcarrot.webp 1x" media="(min-width: 768px)" type="image/webp">
                            <source srcset="./img/vegetables/tcarrot.png 1x, ./img/vegetables/tcarrot@2x.png 2x" media="(min-width: 768px)" type="image/png">
                            <source srcset="./img/vegetables/carrot@2x.webp 2x, ./img/vegetables/carrot.webp 1x" media="(max-width: 767px)" type="image/webp">
                            <source srcset="./img/vegetables/carrot.png 1x, ./img/vegetables/carrot@2x.png 2x" media="(max-width: 767px)" type="image/png">
                            <img src="./img/vegetables/carrot.png" alt="carrot">
                        </picture>
                        <!-- <svg class="vegetables-svg" width="195" height="38">
                            <use href="./img/icons.svg#icon-oval"></use>
                        </svg> -->
                        <!-- <img src="./img/vegetables/ovalpng.png" alt="oval" width="195" height="38"> -->
                    </div>
                    <p class="vegetables-cost">100 UAH / kg</p>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-wrapper">
                    <h3 class="vegetables-title">Brussel sprouts</h3>
                    <p class="vegetables-text">Plant</p>
                    <div class="vegetables-image-container">
                        <picture>
                            <source srcset="./img/vegetables/dbrussel@2x.webp 2x, ./img/vegetables/dbrussel.webp 1x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./img/vegetables/dbrussel.png 1x, ./img/vegetables/dbrussel@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                            <source srcset="./img/vegetables/tbrussel@2x.webp 2x, ./img/vegetables/tbrussel.webp 1x" media="(min-width: 768px)" type="image/webp">
                            <source srcset="./img/vegetables/tbrussel.png 1x, ./img/vegetables/tbrussel@2x.png 2x" media="(min-width: 768px)" type="image/png">
                            <source srcset="./img/vegetables/brussel@2x.webp 2x, ./img/vegetables/brussel.webp 1x" media="(max-width: 767px)" type="image/webp">
                            <source srcset="./img/vegetables/brussel.png 1x, ./img/vegetables/brussel@2x.png 2x" media="(max-width: 767px)" type="image/png">
                            <img src="./img/vegetables/brussel.png" alt="brussel">
                        </picture>
                        <!-- <svg class="vegetables-svg" width="195" height="38">
                            <use href="./img/icons.svg#icon-oval"></use>
                        </svg> -->
                        <!-- <img src="./img/vegetables/ovalpng.png" alt="oval" width="195" height="38"> -->
                    </div>
                    <p class="vegetables-cost">80 UAH / kg</p>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-wrapper">
                    <h3 class="vegetables-title">Tomato</h3>
                    <p class="vegetables-text">Plant</p>
                    <div class="vegetables-image-container">
                        <picture>
                            <source srcset="./img/vegetables/dtomato@2x.webp 2x, ./img/vegetables/dtomato.webp 1x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./img/vegetables/dtomato.png 1x, ./img/vegetables/dtomato@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                            <source srcset="./img/vegetables/ttomato@2x.webp 2x, ./img/vegetables/ttomato.webp 1x" media="(min-width: 768px)" type="image/webp">
                            <source srcset="./img/vegetables/ttomato.png 1x, ./img/vegetables/ttomato@2x.png 2x" media="(min-width: 768px)" type="image/png">
                            <source srcset="./img/vegetables/tomato@2x.webp 2x, ./img/vegetables/tomato.webp 1x" media="(max-width: 767px)" type="image/webp">
                            <source srcset="./img/vegetables/tomato.png 1x, ./img/vegetables/tomato@2x.png 2x" media="(max-width: 767px)" type="image/png">
                            <img src="./img/vegetables/tomato.png" alt="tomato">
                        </picture>
                        <!-- <svg class="vegetables-svg" width="195" height="38">
                            <use href="./img/icons.svg#icon-oval"></use>
                        </svg> -->
                        <!-- <img src="./img/vegetables/ovalpng.png" alt="oval" width="195" height="38"> -->
                    </div>
                    <p class="vegetables-cost">40 UAH / kg</p>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-wrapper">
                    <h3 class="vegetables-title">Eggplant</h3>
                    <p class="vegetables-text">Plant</p>
                    <div class="vegetables-image-container">
                        <picture>
                            <source srcset="./img/vegetables/deggplant@2x.webp 2x, ./img/vegetables/deggplant.webp 1x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./img/vegetables/deggplant.png 1x, ./img/vegetables/deggplant@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                            <source srcset="./img/vegetables/teggplant@2x.webp 2x, ./img/vegetables/teggplant.webp 1x" media="(min-width: 768px)" type="image/webp">
                            <source srcset="./img/vegetables/teggplant.png 1x, ./img/vegetables/teggplant@2x.png 2x" media="(min-width: 768px)" type="image/png">
                            <source srcset="./img/vegetables/eggplant@2x.webp 2x, ./img/vegetables/eggplant.webp 1x" media="(max-width: 767px)" type="image/webp">
                            <source srcset="./img/vegetables/eggplant.png 1x, ./img/vegetables/eggplant@2x.png 2x" media="(max-width: 767px)" type="image/png">
                            <img src="./img/vegetables/eggplant.png" alt="eggplant">
                        </picture>
                        <!-- <svg class="vegetables-svg" width="195" height="38">
                            <use href="./img/icons.svg#icon-oval"></use>
                        </svg> -->
                        <!-- <img src="./img/vegetables/ovalpng.png" alt="oval" width="195" height="38"> -->
                    </div>
                    <p class="vegetables-cost">60 UAH / kg</p>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-wrapper">
                    <h3 class="vegetables-title">Sweet potatoes</h3>
                    <p class="vegetables-text">Plant</p>
                    <div class="vegetables-image-container">
                        <picture>
                            <source srcset="./img/vegetables/dpotato@2x.webp 2x, ./img/vegetables/dpotato.webp 1x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./img/vegetables/dpotato.png 1x, ./img/vegetables/dpotato@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                            <source srcset="./img/vegetables/tpotato@2x.webp 2x, ./img/vegetables/tpotato.webp 1x" media="(min-width: 768px)" type="image/webp">
                            <source srcset="./img/vegetables/tpotato.png 1x, ./img/vegetables/tpotato@2x.png 2x" media="(min-width: 768px)" type="image/png">
                            <source srcset="./img/vegetables/potato@2x.webp 2x, ./img/vegetables/potato.webp 1x" media="(max-width: 767px)" type="image/webp">
                            <source srcset="./img/vegetables/potato.png 1x, ./img/vegetables/potato@2x.png 2x" media="(max-width: 767px)" type="image/png">
                            <img src="./img/vegetables/potato.png" alt="potato">
                        </picture>
                        <!-- <svg class="vegetables-svg" width="195" height="38">
                            <use href="./img/icons.svg#icon-oval"></use>
                        </svg> -->
                        <!-- <img src="./img/vegetables/ovalpng.png" alt="oval" width="195" height="38"> -->
                    </div>
                    <p class="vegetables-cost">80 UAH / kg</p>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-wrapper">
                    <h3 class="vegetables-title">Leek</h3>
                    <p class="vegetables-text">Plant</p>
                    <div class="vegetables-image-container">
                        <picture>
                            <source srcset="./img/vegetables/donion@2x.webp 2x, ./img/vegetables/donion.webp 1x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./img/vegetables/donion.png 1x, ./img/vegetables/donion@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                            <source srcset="./img/vegetables/tonion@2x.webp 2x, ./img/vegetables/tonion.webp 1x" media="(min-width: 768px)" type="image/webp">
                            <source srcset="./img/vegetables/tonion.png 1x, ./img/vegetables/tonion@2x.png 2x" media="(min-width: 768px)" type="image/png">
                            <source srcset="./img/vegetables/onion@2x.webp 2x, ./img/vegetables/onion.webp 1x" media="(max-width: 767px)" type="image/webp">
                            <source srcset="./img/vegetables/onion.png 1x, ./img/vegetables/onion@2x.png 2x" media="(max-width: 767px)" type="image/png">
                            <img src="./img/vegetables/onion.png" alt="leek">
                        </picture>
                        <!-- <svg class="vegetables-svg" width="195" height="38">
                            <use href="./img/icons.svg#icon-oval"></use>
                        </svg> -->
                        <!-- <img src="./img/vegetables/ovalpng.png" alt="oval" width="195" height="38"> -->
                    </div>
                    <p class="vegetables-cost">50 UAH / kg</p>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-wrapper">
                    <h3 class="vegetables-title">Mushrooms</h3>
                    <p class="vegetables-text">Plant</p>
                    <div class="vegetables-image-container">
                        <picture>
                            <source srcset="./img/vegetables/dmushrooms@2x.webp 2x, ./img/vegetables/dmushrooms.webp 1x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./img/vegetables/dmushrooms.png 1x, ./img/vegetables/dmushrooms@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                            <source srcset="./img/vegetables/tmushrooms@2x.webp 2x, ./img/vegetables/tmushrooms.webp 1x" media="(min-width: 768px)" type="image/webp">
                            <source srcset="./img/vegetables/tmushrooms.png 1x, ./img/vegetables/tmushrooms@2x.png 2x" media="(min-width: 768px)" type="image/png">
                            <source srcset="./img/vegetables/mushrooms@2x.webp 2x, ./img/vegetables/mushrooms.webp 1x" media="(max-width: 767px)" type="image/webp">
                            <source srcset="./img/vegetables/mushrooms.png 1x, ./img/vegetables/mushrooms@2x.png 2x" media="(max-width: 767px)" type="image/png">
                            <img src="./img/vegetables/mushrooms.png" alt="mushrooms">
                        </picture>
                        <!-- <svg class="vegetables-svg" width="195" height="38">
                            <use href="./img/icons.svg#icon-oval"></use>
                        </svg> -->
                        <!-- <img src="./img/vegetables/ovalpng.png" alt="oval" width="195" height="38"> -->
                    </div>
                    <p class="vegetables-cost">40 UAH / kg</p>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-wrapper">
                    <h3 class="vegetables-title">Corn</h3>
                    <p class="vegetables-text">Plant</p>
                    <div class="vegetables-image-container">
                        <picture>
                            <source srcset="./img/vegetables/dcorn@2x.webp 2x, ./img/vegetables/dcorn.webp 1x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./img/vegetables/dcorn.png 1x, ./img/vegetables/dcorn@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                            <source srcset="./img/vegetables/tcorn@2x.webp 2x, ./img/vegetables/tcorn.webp 1x" media="(min-width: 768px)" type="image/webp">
                            <source srcset="./img/vegetables/tcorn.png 1x, ./img/vegetables/tcorn@2x.png 2x" media="(min-width: 768px)" type="image/png">
                            <source srcset="./img/vegetables/corn@2x.webp 2x, ./img/vegetables/corn.webp 1x" media="(max-width: 767px)" type="image/webp">
                            <source srcset="./img/vegetables/corn.png 1x, ./img/vegetables/corn@2x.png 2x" media="(max-width: 767px)" type="image/png">
                            <img src="./img/vegetables/corn.png" alt="corn">
                        </picture>
                        <!-- <svg class="vegetables-svg" width="195" height="38">
                            <use href="./img/icons.svg#icon-oval"></use>
                        </svg> -->
                        <!-- <img src="./img/vegetables/ovalpng.png" alt="oval" width="195" height="38"> -->
                    </div>
                    <p class="vegetables-cost">60 UAH / kg</p>
                </div>
            </li>
            <li class="vegetables-item hide">
                <div class="vegetables-wrapper">
                    <h3 class="vegetables-title">Radish</h3>
                    <p class="vegetables-text">Plant</p>
                    <div class="vegetables-image-container">
                        <picture>
                            <source srcset="./img/vegetables/dradish@2x.webp 2x, ./img/vegetables/dradish.webp 1x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./img/vegetables/dradish.png 1x, ./img/vegetables/dradish@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                            <img src="./img/vegetables/dradish.png" alt="radish">
                        </picture>
                    </div>
                    <p class="vegetables-cost">90 UAH / kg</p>
                </div>
            </li>
        </ul>
        <button class="vegetables-button" type="button" aria-label="open-modal" data-modal-open>
            <span class="vegetables-button-rotate">
                <svg width="14" height="14">
                    <use href="./img/icons.svg#icon-vector"></use>
                </svg>
                <span class="button-text">Order</span>
            </span>
        </button>
    </div>
</section>