<!-- ================= SECTION WE-WILL-CAL-YOU ================== -->
<section class="we-will-cal-you">
  <div class="container div-desktop">
    <div class="div-we-will-cal-you">
      <h2 class="section-heading">Fresh Harvest Box has got you covered</h2>
      <p class="description">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <form class="form-call-you">
        <label>
          <input
            class="input-call-you"
            name="user_phone"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            type="tel"
            placeholder="+380 ()"
            title="0XX-888-88-88"
          />
        </label>

        <button class="button-input-call-you" type="submit">Recall</button>
      </form>
    </div>

    <div class="div-call-you">
      <picture>
        <source
          srcset="
            ./img/we-will-call-you/girl-we-will-call-you-desk@2x.webp 2x,
            ./img/we-will-call-you/girl-we-will-call-you-desk.webp    1x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/we-will-call-you/girl-we-will-call-you-desk.png    1x,
            ./img/we-will-call-you/girl-we-will-call-you-desk@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./img/we-will-call-you/girl-we-will-call-you-tab@2x.webp 2x,
            ./img/we-will-call-you/girl-we-will-call-you-tab.webp    1x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />

        <source
          srcset="
            ./img/we-will-call-you/girl-we-will-call-you-tab.png    1x,
            ./img/we-will-call-you/girl-we-will-call-you-tab@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./img/we-will-call-you/girl-we-will-call-you@2x.webp 2x,
            ./img/we-will-call-you/girl-we-will-call-you.webp    1x
          "
          media="(max-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/we-will-call-you/girl-we-will-call-you.png    1x,
            ./img/we-will-call-you/girl-we-will-call-you@2x.png 2x
          "
          media="(max-width: 768px)"
          type="image/png"
        />
        <img
          class="img-we-will-cal-you"
          src="././img/we-will-call-you/girl-we-will-call-you.png"
          alt="girl-we-will-call-you"
        />
      </picture>
    </div>
  </div>
</section>
