<div data-modal class="backdrop">
  <div class="modal">
    <h2 class="title-modal">your order</h2>
    <button data-modal-close class="modal-close-btn">
      <svg class="modal-close-icon" height="24" width="24">
        <use href="./img/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <form class="form-general">
      <input
        type="checkbox"
        id="cabbage-basket"
        name="сabbage_basket"
        value="done"
      />
      <label for="cabbage-basket">
        <div class="wrapper-checkbox-card">
          <div class="icon-illusion">
            <svg class="icon-ckeckbox" width="6" height="6">
              <use href="../img/icons.svg#icon-pick"></use>
            </svg>
          </div>
          <h2 class="title-checkbox-card">Cabbage Basket</h2>
          <p class="subtitle-checkbox-card">Plant</p>
        </div>
      </label>
    </form>
  </div>
</div>
